<div class="ek-dialog mask">
	<div class="ek-dialog-main">
	  {{#if title}}
		  <div class="ek-dialog-main-title">
		    {{title}}
		  </div>
	  {{/if}}

	  <div class="ek-dialog-main-content">
	  	{{content}}
	  </div>

	  <div class="ek-dialog-main-btns">
		  {{#if close}}
		    <button type="button" class="close" >
		    	{{close}}
		    </button>
		  {{/if}}
		  {{#if next}}
		    <button type="button" class="next" >
		    	{{next}}
		    </button>
		  {{/if}}
	  </div>
	</div>
</div>