.ek-dialog {
  position: fixed;
  top: 0;
  text-align: center;  
  height: 100%;
  width: 100%;
  z-index: 110;
  &.mask {
    background-color: #999;
    background: rgba(0, 0, 0, 0.5);
  }

  &-main {
    display: inline-block;  
    vertical-align: middle;  
    width: 400px;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
    background-color: #fff;
    &-title {
      text-align: left;
    }
    &-content { 
      text-align: left;
    }
    &-btns {

    }

  }
}
.ek-dialog:before {  
    content: '';  
    display: inline-block;  
    height: 100%;  
    vertical-align: middle;  
}  