$background-color-blue: #6699ff;
$background-color-orange: #ff9900;

$border-color-blue: #6699ff;
$border-color-grey: #e5e5e5;

$btn-color-blue: #1dbafd;

$text-color-grey: #999999;

$color-success: #80d3ac;
$color-warn: #e4bc70;
$color-danger: #ff9d87;
$background-color-blue: #6699ff;
$background-color-orange: #ff9900;

$border-color-blue: #6699ff;
$border-color-grey: #e5e5e5;

$btn-color-blue: #1dbafd;

$text-color-grey: #999999;

$color-info: #1dbafd;
$color-success: #80d3ac;
$color-warn: #e4bc70;
$color-danger: #ff9d87;