<ul class="ek-breadcrumb clearfix">
  {{#for @root}}
    {{#if @last}}
      <li class="ek-breadcrumb-item last-child">{{name}}</li>
    {{else}}
      <li class="ek-breadcrumb-item ek-link" data-index="{{@i}}">{{name}}</li>
    {{/if}}
  {{/for}}
</ul>