.ek-alert {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  padding: 10px 15px;
  margin: 0 auto;
  z-index: 100;
  color: #fff;
  &.is-success {
    background-color: $color-success;
  }
  &.is-warn {
    background-color: $color-warn;
  }
  &.is-danger {
    background-color: $color-danger;
  }
  &-close {
    -webkit-appearance: none;
    background: 0 0;
    border: 0;
    color: #fff;
  }
}