<div id="{{id}}" class="ek-alert text-center is-{{type}}">
  {{title}}
  {{#if close}}
    <button type="button" class="ek-alert-close"><span aria-hidden="true">&times;</span></button>
  {{/if}}
</div>