<div id="{{id}}" class="ek-alert text-center is-{{type}}">
  {{title}}
  {{#if closable}}
    <button type="button" class="ek-alert-close ek-icon-close"><span aria-hidden="true">&times;</span></button>
  {{/if}}
</div>