<ul class="ek-timer clear text-center">
  {{#each @root}}
  <li class="ek-timer-item" data-type="{{type}}">
    <ul class="clear">
      {{#each data as |number|}}
      <li class="ek-timer-number">{{number}}</li>
      {{/each}}
      <li class="ek-timer-desc">{{label}}</li>
    </ul>
  </li>
  {{/each}}
</ul>