<div class="ek-service">
  <img class="ek-service-gif" src="/static/img/ek-service.png"/>
  <div class="ek-service-left text-center f-16">在线客服</div>
  <div class="ek-service-right text-center">
    <div class="ek-service-right-top"><a href="javascript:NTKF.im_openInPageChat('kf_9431_1477552391721');" class="ek-service-chat f-18"><i class="iconfont icon-chat"></i>在线咨询</a></div>
    <div class="ek-service-right-bottom f-12">电话客服：400-013-0081</div>
  </div>
</div>