.ek-service {
  position: fixed;
  top: 318px;
  right: 0;
  width: 220px;
  height: 106px;
  margin-right: -170px;
  z-index: 100;
  color: white;
  &-gif {
    position: absolute;
    width: 70px;
    margin: -52px 0 0 -16px;
    z-index: -1;
  }
  &-left {
    float: left;
    width: 50px;
    height: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 2px 0 0 2px;
    line-height: 21px;
    background-color: #2695f3;
  }
  &-right {
    float: right;
    width: 170px;
    height: 100%;
    background-color: #2695f3;
    border: 1px solid #ffffff;
    border-radius: 0 2px 2px 0;
    &-top {}
    &-bottom {
      height: 38px;
      line-height: 38px;
      margin: 0 12px;
      border-top: 1px solid #68b5f7;
    }
  }
  &-chat {
    display: inline-block;
    width: 140px;
    height: 36px;
    line-height: 36px;
    margin: 16px auto;
    border-radius: 2px;
    background-color: #34cffe;
    color: white;
    .iconfont {
      font-size: 19px;
      margin-right: 4px;
    }
    &:hover {
      @include opacity(0.8);
    }
  }
}
