.ek-modal {
  display: inline-block;
  width: 520px;
  vertical-align: middle;
  &-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 1000;
    outline: 0;
    &:after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle;
    }
  }
  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.65);
    height: 100%;
    z-index: 1000;
  }
  &-close {
    @include button;
    background: transparent;
    position: absolute;
    right: 20px;
    top: 14px;
    z-index: 10;
    font-weight: 700;
    line-height: 1;
    border: 0;
    text-decoration: none;
    padding: 0;
    i {
      font-size: 14px;
      &:hover {
        color: $btn-color-blue;
      }
    }
  }
  &-content {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    border-radius: 4px;
    background-color: #fefefe;
  }
  &-header {
    padding: 16px 24px;
    margin-bottom: 26px;
  }
  &-subheader {
    margin-bottom: 12px;
    line-height: 1;
    font-size: 18px;
    i {
      margin-right: 8px;
      font-size: 20px;
    }
    &.status-success {
      color: $color-info;
    }
    &.status-error {
      color: $color-error;
    }
  }
  &-body {
    padding: 0 24px 24px 24px;
    color: $text-color-grey-darken;
  }
  &-footer {
    padding: 0 16px 32px 16px;
    button + button {
      margin-left: 16px;
    }
  }
}